#musicle td {
  border: 1px solid black;
}

.cent {
    font-size: 84%;
    font-style: italic;
    color: #777;
}

.cent-on {
    visibility: visible;
}

.cent-off {
    visibility: hidden;
}

/* order of these rules is signficant - later has precedence */

.focus {
	background-color: #dddddd;
}

.x0, .y0 {
    background-color: #ffffcc;
}

.x0y0 {
	background-color: #ffee77;
}

.dynamic-pitch-highlight {
    background-color: #ddddff;
}

.dynamic-name-highlight {
    background-color: #ddffdd;
}

.playing {
    background-color: #ff3333;
}
