#musicle td {
  border: 1px solid black;
}

.cent {
    font-size: 84%;
    font-style: italic;
    color: #777;
}

.cent-on {
    visibility: visible;
}

.cent-off {
    visibility: hidden;
}

.x0, .y0, .x0.centre, .y0.centre {
	background-color: #ffffcc;
}

.centre {
	background-color: #dddddd;
}

.x0.y0 {
	background-color: #ffee77;
}

.playing.playing.playing {
	background-color: #ff3333;
}

.dynamic-pitch-highlight {
    background-color: #ddddff;
}

/* must be after .dynamic-pitch-highlight */
.dynamic-name-highlight {
    background-color: #ddffdd;
}
